@{
    ViewData["Title"] = "Главная";
    SiteLenrooContext2 _context = new SiteLenrooContext2();
    AspNetNews mainNews = _context.AspNetNews.OrderBy(n => n.Date).Where(n => n.MainNews).First();
}


<div class="row main__article">
    <div class="container__wrapper">
        <div class="col-xs-12 col-sm-9 new__main-container--grid">
            <h4 class="line"><a href="/main-news/">Главное</a></h4>

            <div class="row news__main__container">
                <!-- Main News-->
                <div class="new__main-container col-sm-8 col-xs-12">
                    <div class="new__container">
                        <style>
                            a {
                                text-decoration: none !important;
                            }

                            .new__text {
                                color: #666;
                            }
                        </style>
                        <a class="new2-link" asp-controller="NewsDetails" asp-route-newsUrl="@mainNews.Url">
                            <div class="new__image-wrapper img-responsive" style="height:100%">
                                <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == mainNews.PreviewPhoto).Photo"
                                     class="new__main-image img-responsive news_icon_grow"
                                      height="348" alt="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == mainNews.PreviewPhoto).Title" />
                            </div>
                        </a>
                        <div class="new__main-date date">@mainNews.Date</div>
                        <a href="/main-news/2021/01/2697/">
                            <div class="new__main-title">@mainNews.Title</div>
                            <div class="new__main-text">
                                @Html.Raw(mainNews.PreviewText)
                            </div>
                        </a>
                    </div>
                </div>

                <!-- right column News-->
                <div class="new__small-container col-xs-4">
                    @foreach (AspNetNews newItem in _context.AspNetNews.Where(n => !n.MainNews).OrderBy(n => n.Date))
                    {
                        <div class="new__container clearfix">
                            <a asp-controller="NewsDetails" asp-route-newsUrl="@newItem.Url" class="new__link">
                                <div class="new__image-wrapper img-responsive">
                                    <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == newItem.PreviewPhoto).Photo" class="new__image img-responsive news_icon_grow" width="100" height="100" alt="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == newItem.PreviewPhoto).Title">
                                </div>
                                <div class="new__content-wrapper">
                                    <div class="new__title">@newItem.PreviewText</div>
                                    <div class="new__date date">@newItem.Date.ToShortDateString()</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-3 head__main-container--grid">
            <h4 class="line"><a href="#">Глава центра</a></h4>
            <div class="head__container">
                <div class="head__photo-wrapper">
                    <img class="head__photo" src="#"
                         width="104" height="152">
                </div>
                <div class="head__text-wrapper">
                    <h3 class="head__text">@Config.DirectorLastName<br>@Config.DirectorFirstName<br>@Config.DirectorDadName</h3>
                </div>
            </div>
            <div class="prime__container">

                <div class="prime__item">
                    <div class="prime__wrapper">
                        <a href="#" target="_blank" class="prime__link prime__icon prime__icon-75win" style="padding-top: 12px;">
                            <h5 class="prime__text">Год памяти и славы</h5>
                            <div class="prime__comment">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="prime__item">
                    <div class="prime__wrapper">
                        <a href="#" target="_blank" class="prime__link prime__icon prime__icon-virus" style="padding-top: 12px;">
                            <h5 class="prime__text">Коронавирус:</h5>
                            <div class="prime__comment">
                                официальная информация
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px">


                <!--
                 <div style="margin-bottom:20px;margin-top: 10px;">
                    <iframe style="height: 170px"
                            src="#"
                            frameborder="0" allowfullscreen></iframe>
                </div>
                -->
                <div class='event__file'><a href='#' class='event__description'>План мероприятий, посвященных празднованию Нового 2021 года и Рождества Христова                                                                      </a></div>
            </div>
        </div>
    </div>
</div>

<div class="row main__article">
    <div class="container__wrapper">
        <div class="col-xs-12">
            <h4 class="line"><a href="#">Новости города</a></h4>
            <div class="row new__city-container">
                <!-- NEWS -->
                <div class="new__container col-xs-12 col-sm-3">
                    <div class="new__wrapper">
                        <a href="#">
                            <div class="new__image-wrapper img-responsive">
                                <img src="/upload/pages/196/image_1611759861.JPG"
                                     class="new__image img-responsive news_icon_grow" alt="">
                            </div>
                        </a>
                        <div class="new__date date">Дата мероприятия</div>
                        <a href="#">
                            <h4 class="new__title">Весной в Гродно продолжится капитальный ремонт улицы Максима Горького</h4>
                            <div class="new__text">Ремонт будет проводиться на участке от до КСМ. Подрядная организация приступит к работам после наступления подходящих погодных условий.</div>
                            <!--<a href="/news/2021/01/27 12:19:00+05/54550-id/" class="new__more">Читать&nbsp;далее</a>-->
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <a href="/news/" class="new__link">
                    Архив новостей
                </a>
            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="gallery clearfix">
        <div class="gallery__control-wrapper pull-right clearfix">
            <div class="gallery__control gallery__photo text-center">
                <div class="gallery__title gallery__line">Фотоальбомы</div>
                <div class="gallery__preview-container clearfix">
                    <!--Photo-->
                    <div class="gallery__preview gallery__preview-photo">
                        <a href="#" class="gallery__preview-link" data-item-id="5">
                            <img src="#" alt="" width="120" height="80">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery__control gallery__video text-center">
                <div class="gallery__title gallery__line">Видео</div>
                <div class="gallery__preview-container clearfix">
                    <!--Video-->
                    <div class="gallery__preview gallery__preview-video gallery__preview-video--small">
                        <a href="#" class="gallery__preview-link" data-item-id="0">
                            <img src="/upload/pages/1000192/image_1611219779.jpg" alt="" width="120" height="80">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__container owl-carousel">

            <a class="owl-video" href="#">

            </a>
            <div class="gallery__item">
                <img src="#" alt="Строительство нового детского сада в микрорайоне Гранидичи, с компьютерным классом.">
                <div class="gallery__overlay gallery__overlay--bottom">
                    <div class="col-xs-7 gallery__text">Строительство нового детского сада в микрорайоне Гранидичи, с компьютерным классом.</div>
                    <div class="col-xs-5 gallery__author text-right">Фото автора                                                                                                                                                                                                                                        </div>
                </div>
            </div>
            <a class="owl-video" href="#">
                <img src="/upload/pages/1000192/img_1509440520.PNG" alt="Мы платим налоги">
            </a>
        </div>
    </div>
</div>

<div class="row main__article">
    <div class="new__rubric container__wrapper">
        <div class="col-xs-9 new__rubric-container">
            <div class="row">
                <div class="new__container col-xs-4">
                    <div class="new__wrapper">
                        <div class="new__rubric-name">
                            <span class="new__rubric-title">
                                <a href="#" class="new__rubric-link">Культура</a>
                            </span>
                        </div>
                        <a href="/news/2021/01/26 10:53:00+05/54541-id/">
                            <div class="new__image-wrapper img-responsive">
                                <img src="#" class="new__image img-responsive news_icon_grow"
                                     width="277" height="156" alt="">
                            </div>
                        </a>
                        <div class="new__date date">Дата</div>
                        <a href="#">
                            <h4 class="new__title">В Центральном выставочном зале Гродно проходит экспозиция «Рассвет Пушкина»</h4>
                            <div class="new__text">Выставка «Рассвет Пушкина» занимает отдельный зал и представляет живописные работы, выполненные известными художниками в рамках районого конкурса.</div>
                            <!--<a href="/news/2021/01/26 10:53:00+05/54541-id/" class="new__more">Читать&nbsp;далее</a>-->
                        </a>
                    </div>
                </div>
            </div>
            <div class="row interview__container">
                <div class="col-xs-8">
                    <h4 class="line"><a href="/actions/social-link/society/guest/postfactum/?id=397">Гость сайта</a></h4>
                    <div class="interview clearfix">
                        <div class="interview__photo-container">
                            <a href="/actions/social-link/society/guest/postfactum/?id=397">
                                <img src="/upload/pages/7331/image_1604641044.JPG" alt="Гость"
                                     class="interview__photo" width="190" height="230">
                            </a>
                        </div>
                        <div class="interview__quote-container">
                            <a href="/actions/social-link/society/guest/postfactum/?id=397" class="interview__quote">«Цитата гостя»</a>
                            <a href="/actions/social-link/society/guest/postfactum/?id=397" class="interview__link">
                                <div class="interview__author">Имя гостя</div>
                                <div class="interview__rank">Должность гостя</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <h4 class="line"><a href="#">Другие интервью</a></h4>
                    <div class="interview__other">
                        <a href="#" class="interview__item clearfix">
                            <div class="interview__photo">
                                <img src="#"
                                     alt="Имя гостя" class="img-responsive">
                            </div>
                            <div class="interview__text">
                                <div class="interview__author">Имя гостя</div>
                                <div class="interview__rank">Должность гостя</div>
                            </div>
                        </a>          
                    </div>
                </div>
            </div>
        </div><!-- /col-xs-9 -->

        <div class="col-xs-3 banner__container banner__container--right">

            <div class="banner banner__gosuslugi pull-right clearfix">

                <div class="prime__item">
                    <div class="prime__wrapper">
                        <a href="#" target="_blank"
                           class="prime__link prime__icon prime__icon-upr">
                            <h5 class="prime__text">Управляем вместе</h5>
                            <div class="prime__comment">
                                Прими участие в программе развития Ленинского района
                            </div>
                        </a>
                    </div>
                </div>

                <a href="https://www.investinbelarus.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://www.investinbelarus.by/include/logo_ru.svg"
                         title="Инвестиционный портал">
                </a>


                <a href="https://www.pravo.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://www.pravo.by/local/templates/.default/i/logo-main.png" title="Национальный правовой Интернет-портал Республики Беларусь">
                </a>

                <a href="https://portal.gov.by/PortalGovBy/faces/oracle/webcenter/portalapp/pages/main/home.jspx?_afrLoop=3557140830971053&_afrWindowMode=0&_afrWindowId=164levxobc_19#%40%3F_afrWindowId%3D164levxobc_19%26_afrLoop%3D3557140830971053%26_afrWindowMode%3D0%26_adf.ctrl-state%3D164levxobc_31" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://portal.gov.by/i/portalgovby/theme/images/logo.png"
                         title="Единый портал государственных услуг">
                </a>
                <a href="http://brsm.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="http://brsm.by/wp-content/themes/brsm/css/images/logo.jpg"
                         title="Интернет-портал Молодежь Беларуси">
                </a>
                @*<div class="widget__vk clearfix">
            <div id="vk_groups"></div>
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", { mode: 3, width: '300', color3: '546E7A' }, 57433185);
            </script>
        </div>*@
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="owl-carousel banner__carousel">
            <div class="banner__carousel-elem">
                <a href="#" class="banner__carousel-link banner__phones"></a>
            </div>
            <div class="banner__carousel-elem">
                <a href="#"
                   class="banner__carousel-link banner__districtadministration"></a>
            </div>
            <div class="banner__carousel-elem">
                <a href="#" class="banner__carousel-link banner__anticorruption"></a>
            </div>
            <div class="banner__carousel-elem">
                <a href="#" class="banner__carousel-link banner__munservice"></a>
            </div>
            <div class="banner__carousel-elem">
                <a href="#" class="banner__carousel-link banner__roadeequipment"
                   rel="nofollow"></a>
            </div>
            <div class="banner__carousel-elem">
                <a href="#" class="banner__carousel-link banner__manage" rel="nofollow" target="_blank"></a>
            </div>
        </div>
    </div>

    <div class="banner__container">
        <div class="banner banner--bottom">
            <a href="#" class="banner__link banner__phones"></a>
        </div>
        <div class="banner banner--bottom">
            <a href="#"
               class="banner__link banner__districtadministration"></a>
        </div>
        <div class="banner banner--bottom">
            <a href="#" class="banner__link banner__anticorruption"></a>
        </div>
        <div class="banner banner--bottom">
            <a href="#" class="banner__link banner__munservice"></a>
        </div>
        <div class="banner banner--bottom">
            <a href="#" class="banner__link banner__roadeequipment"
               rel="nofollow"></a>
        </div>
        <div class="banner banner--bottom">
            <a href="#"
               class="banner__link banner__market" rel="nofollow" target="_blank"></a>
        </div>
    </div>
</div>