@model List<AspNetPhoto>
@{
    SiteLenrooContext2 _context = new SiteLenrooContext2();
    AspNetNews mainNews = _context.AspNetNews.OrderBy(n => n.Date).First(n => n.MainNews);
    List<AspNetTag> aspNetTags = _context.AspNetTag.Take(6).ToList();
    List<AspNetNews> aspNetNewsList = new List<AspNetNews>();
    switch (aspNetTags.Count)
    {
        case 1:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
        case 2:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[1].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
        case 3:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[1].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[2].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
        case 4:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[1].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[2].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[3].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
        case 5:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[1].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[2].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[3].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[4].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
        case 6:
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[0].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[1].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[2].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[3].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[4].Id).OrderBy(n => n.Date).FirstOrDefault());
            aspNetNewsList.Add(_context.AspNetNews.Where(n => !n.MainNews && n.Tag == aspNetTags[5].Id).OrderBy(n => n.Date).FirstOrDefault());
            break;
    }
    ViewData["Title"] = "Главная";
}


<div class="row main__article">
    <div class="container__wrapper">
        <div class="col-xs-12 col-sm-9 new__main-container--grid">
            <h4 class="line"><a asp-controller="News" asp-action="MainNews" asp-route-newsUrl="@mainNews.Url">Главное</a></h4>

            <div class="row news__main__container">
                <!-- Main News-->
                <div class="new__main-container col-sm-8 col-xs-12">
                    <div class="new__container">
                        <style>
                            a {
                                text-decoration: none !important;
                            }

                            .new__text {
                                color: #666;
                            }
                        </style>
                        <a class="new2-link" asp-controller="News" asp-action="NewsDetails" asp-route-newsUrl="@mainNews.Url">
                            <div class="new__image-wrapper img-responsive" style="height:100%">
                                <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == mainNews.PreviewPhoto).Photo"
                                     class="new__main-image img-responsive news_icon_grow"
                                     height="348" alt="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == mainNews.PreviewPhoto).Title" />
                            </div>
                        </a>
                        <div class="new__main-date date">@mainNews.Date</div>
                        <a asp-controller="News" asp-action="NewsDetails" asp-route-newsUrl="@mainNews.Url">
                            <div class="new__main-title">@mainNews.Title</div>
                            <div class="new__main-text">
                                @Html.Raw(mainNews.PreviewText)
                            </div>
                        </a>
                    </div>
                </div>

                <!-- right column News-->
                <div class="new__small-container col-xs-4">
                    @foreach (AspNetNews newItem in _context.AspNetNews.Where(n => n.MainNews && n.Id != mainNews.Id).OrderBy(n => n.Date).Take(4))
                    {
                        <div class="new__container clearfix">
                            <a asp-controller="News" asp-action="NewsDetails" asp-route-newsUrl="@newItem.Url" class="new__link">
                                <div class="new__image-wrapper img-responsive">
                                    <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == newItem.PreviewPhoto).Photo" class="new__image img-responsive news_icon_grow" width="100" height="100" alt="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == newItem.PreviewPhoto).Title">
                                </div>
                                <div class="new__content-wrapper">
                                    <div class="new__title">@newItem.PreviewText</div>
                                    <div class="new__date date">@newItem.Date.ToShortDateString()</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-3 head__main-container--grid">
            <h4 class="line"><a href="#">Глава центра</a></h4>
            <div class="head__container">
                <div class="head__photo-wrapper">
                    <img class="head__photo" src="#"
                         width="104" height="152">
                </div>
                <div class="head__text-wrapper">
                    <h3 class="head__text">@Config.DirectorLastName<br>@Config.DirectorFirstName<br>@Config.DirectorDadName</h3>
                </div>
            </div>
            <h4 class="line"><a href="#">Начальник отдела образования</a></h4>
            <div class="head__container">
                <div class="head__photo-wrapper">
                    <img class="head__photo" src="~/images/Ta.jpg"
                         width="104" height="152">
                </div>
                <div class="head__text-wrapper">
                    <h3 class="head__text">Тарасевич<br>Оксана<br>Сергеевна</h3>
                </div>
            </div>
            <h4 class="line"><a href="#">Начальник филиала</a></h4>
            <div class="head__container">
                <div class="head__photo-wrapper">
                    <img class="head__photo" src="#"
                         width="104" height="152">
                </div>
                <div class="head__text-wrapper">
                    <h3 class="head__text">Мокрова<br>Елена<br>Станиславовна</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row main__article">
    <div class="container__wrapper">
        <div class="col-xs-12">
            <h4 class="line"><a href="#">Новости города</a></h4>
            <div class="row new__city-container">
                <!-- NEWS -->
                @foreach (AspNetNews aspNetNews in _context.AspNetNews.OrderBy(n => n.Date).Where(n => !n.MainNews).Take(8))
                {
                    <div class="new__container col-xs-12 col-sm-3">
                        <div class="new__wrapper">
                            <a asp-controller="News" asp-action="NewsDetails" asp-route-newsUrl="@aspNetNews.Url">
                                <div class="new__image-wrapper img-responsive">
                                    <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == aspNetNews.PreviewPhoto).Photo"
                                         class="new__image img-responsive news_icon_grow" alt="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == aspNetNews.PreviewPhoto).Title">
                                </div>
                            </a>
                            <div class="new__date date">@aspNetNews.Date</div>
                            <a asp-controller="News" asp-action="NewsDetails" asp-route-newsUrl="@aspNetNews.Url">
                                <h4 class="new__title">@aspNetNews.Title</h4>
                                <div class="new__text">@aspNetNews.PreviewText</div>
                            </a>
                        </div>
                    </div>
                }
            </div>

            <div class="col-xs-12 text-center">
                <a asp-controller="News" class="new__link">
                    Архив новостей
                </a>
            </div>

        </div>
    </div>

</div>
<div class="row">
    <div class="gallery clearfix">
        <div class="gallery__control-wrapper pull-right clearfix">
            <div class="gallery__control gallery__photo text-center">
                <div class="gallery__title gallery__line">Фотоальбомы</div>
                <div class="gallery__preview-container clearfix">
                    @foreach (AspNetPhoto aspNetPhotos in Model.Where(p => !p.Video).Take(6))
                    {
                        <div class="gallery__preview gallery__preview-photo">
                            <a href="#" class="gallery__preview-link" data-item-id="@aspNetPhotos.Id">
                                <img src="@aspNetPhotos.Photo" alt="" width="120" height="80">

                            </a>

                        </div>
                    }
                </div>
            </div>
            <div class="gallery__control gallery__video text-center">
                <div class="gallery__title gallery__line">Видео</div>
                <div class="gallery__preview-container clearfix">
                    @foreach (AspNetPhoto aspNetPhotos in Model.Where(p => p.Video).Take(6))
                    {
                        <div class="gallery__preview gallery__preview-video gallery__preview-video--small">
                            <a href="#" class="gallery__preview-link" data-item-id="@aspNetPhotos.Id">
                                <img src="/upload/pages/1000192/image_1611219779.jpg" alt="" width="120" height="80">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="gallery__container owl-carousel">
            @foreach (AspNetPhoto netPhoto in Model.Take(6))
            {
                if (netPhoto.Video)
                {
                    <a class="owl-video" href="@netPhoto.Photo">

                    </a>
                }
                else
                {
                    <div class="gallery__item">
                        <img src="@netPhoto.Photo" alt="@netPhoto.Title" style="width: 100%; height: 100%;" />
                        <div class="gallery__overlay gallery__overlay--bottom">
                            <div class="col-xs-7 gallery__text">@netPhoto.Title</div>
                            <div class="col-xs-5 gallery__author text-right">Фото                                                                                                                                                                                                                                         </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row main__article">
    <div class="new__rubric container__wrapper">
        <div class="col-xs-9 new__rubric-container">
            <div class="row">
                @foreach (AspNetNews newsItem in aspNetNewsList)
                {
                    @if (newsItem != null)
                    {
                        <div class="new__container col-xs-4">
                            <div class="new__wrapper">
                                <div class="new__rubric-name">
                                    <span class="new__rubric-title">
                                        <a asp-controller="News" asp-action="Search" asp-route-search="@_context.AspNetTag.FirstOrDefault(t => t.Id == newsItem.Tag).Tag" class="new__rubric-link">@_context.AspNetTag.FirstOrDefault(t => t.Id == newsItem.Tag).Tag</a>
                                    </span>
                                </div>
                                <a asp-controller="News" asp-action="NewsDetails" asp-route-newsId="@newsItem.Id">
                                    <div class="new__image-wrapper img-responsive">
                                        <img src="@_context.AspNetPhoto.FirstOrDefault(p => p.Id == newsItem.PreviewPhoto).Photo" class="new__image img-responsive news_icon_grow"
                                             width="277" height="156" alt="">
                                    </div>
                                </a>
                                <div class="new__date date">@newsItem.Date</div>
                                <a asp-controller="News" asp-action="NewsDetails" asp-route-newsId="@newsItem.Id">
                                    <h4 class="new__title">@newsItem.Title</h4>
                                    <div class="new__text">@newsItem.PreviewText</div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-xs-3 banner__container banner__container--right">

            <div class="banner banner__gosuslugi pull-right clearfix">

                <a href="https://www.investinbelarus.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://www.investinbelarus.by/include/logo_ru.svg"
                         title="Инвестиционный портал">
                </a>


                <a href="https://www.pravo.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://www.pravo.by/local/templates/.default/i/logo-main.png" title="Национальный правовой Интернет-портал Республики Беларусь">
                </a>

                <a href="https://portal.gov.by/PortalGovBy/faces/oracle/webcenter/portalapp/pages/main/home.jspx?_afrLoop=3557140830971053&_afrWindowMode=0&_afrWindowId=164levxobc_19#%40%3F_afrWindowId%3D164levxobc_19%26_afrLoop%3D3557140830971053%26_afrWindowMode%3D0%26_adf.ctrl-state%3D164levxobc_31" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://portal.gov.by/i/portalgovby/theme/images/logo.png"
                         title="Единый портал государственных услуг">
                </a>
                <a href="http://brsm.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="http://brsm.by/wp-content/themes/brsm/css/images/logo.jpg"
                         title="Интернет-портал Молодежь Беларуси">
                </a>
                <a href="https://nces.by/" target="_blank" class="banner-right__link">
                    <img class="banner-right__link-img" src="https://www.tadviser.ru/images/9/9e/Nceu.png"
                         title="Национальный центр электронных услуг">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac6f3fa93daa86cdca1212099a1eb44aab3a0e441d75b6c6fd057d7bbc2b31250&amp;width=100%25&amp;height=334&amp;lang=ru_RU&amp;scroll=true"></script>
</div>