<div class="footer row">
    <div class="col-xs-12 footer__menu">
        <a href="#" class="footer__menu-elem">
            О Гродно
        </a>
        <a href="#" class="footer__menu-elem">
            Власть
        </a>
        <a href="#" class="footer__menu-elem">
            Экономика
        </a>
        <a href="#" class="footer__menu-elem">
            Одно окно
        </a>
        <a href="#" class="footer__menu-elem">
            Образование
        </a>
        <a href="#" class="footer__menu-elem">
            Гражданам
        </a>
    </div>

    <div class="clearfix">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4">
            <div class="footer__item footer__address">
                При публикации материалов сайта ссылка на источник обязательна.<br><br>
                Сетевое издание Официальный сайт @Config.OrganizationShort
                www.lenroo.grodno.gov.by<br>

                Электронная почта @Config.Email<br>
                Телефон редакции @Config.Phone<br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4">
            <div class="footer__item footer__copyright">
                © @Config.OrganizationShort.<br>
                Адрес: @Config.IndexPost. @Config.Adress<br>
                Контактная информация по обращениям граждан:<br>
                Тел.:  @Config.Phone<br>
                Контактная информация для юридических лиц:<br>
                Тел.: @Config.Phone<br>
                Email: @Config.Email<br>
                <br>

                <div class="header__link-wrapper"
                     style="width: 170px;
                       height: 55px;
                       /*background-color: blue;*/
                       padding-top: 10px;
                       padding-left: 15px;
                       font-weight: bold;
                       ">
                    <style>
                        .footer__item a {
                            color: black;
                        }
                    </style>
                    <a href="/special" class="footer_special__link header__icon header__special">
                        Версия для<br> слабовидящих
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>