@page
@using Microsoft.AspNetCore.Identity
@model EditModel
@{
    ViewData["Title"] = "Изменение роли для пользователя";
}

<h2>Изменение ролей для пользователя @Model.changeRole.UserEmail</h2>

<form asp-page-handler="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.changeRole.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.changeRole.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.changeRole.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />          @role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>