@page
@model SiteLenroo.Areas.Identity.Pages.Account.Manage.PhotoModel
@{
    ViewData["Title"] = "Фото/изображения";

}
<h5>@ViewData["Title"]</h5>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Изображение/Видео</th>
                <th scope="col">Описание</th>
                <th scope="col">Видео</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (AspNetPhoto photoItem in Model.photo)
            {
                <tr class="text-center">
                    <th scope="row">@photoItem.Id</th>
                    <th scope="row"><img src="@photoItem.Photo" width="150px" height="100px" /></th>
                    <th scope="row">@photoItem.Title</th>
                    <th scope="row">@photoItem.Video</th>
                    <th scope="row">@photoItem.DateAdd</th>
                    @if (Model._context.AspNetNews.Count(n => n.PreviewPhoto == photoItem.Id) == 0)
                    {
                        <th scope="row"><a asp-page-handler="DeletePhoto" asp-route-id="@photoItem.Id" class="text-danger">Удалить</a></th>
                    }
                    else
                    {
                        <th scope="row">Некоторые новости содержат данное фото, и не могут быть удалены! Для удаления фото, удалите все новости, которые содержат данное фото!</th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

